//clearing margin & padding

@each $dir in $direction {
  @include clear-spacing($dir);
}


.hover-mask:hover {
  opacity:.95;
}

.hover-mask-group:hover {
  .hover-mask-element {
    opacity:.95;
  }
}

//hover appear
.hover-appear-block {
  display: none;
}

.hover-appear-group:hover {
  .hover-appear-block {
    display: block;
  }
}

.div-center {
  margin: 0 auto;
  float: none !important;
}