.embed-box {
  position: relative;
  padding-bottom: 62.25%; /* ratio for youtube embed */
  padding-top: 30px;
  height: auto;
  overflow: hidden;
}

.embed-box iframe,
.embed-box object,
.embed-box embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}