.section {
  width: 100%;
  background-color: transparent;
  padding: 50px 0;

  &.section-condensed {
    padding: 0;

    &:last-child {
      padding-bottom: 50px;
    }
    .section-heading {
      margin-top: 30px;
      margin-bottom: 30px
    }
  }
}

.section-default {
  background-color: $light-gray;
}

.section-blue {
  color: $font-color-inverse;
  background-color: $light-blue-nrei;
}

.section-green {
  color: $font-color-inverse;
  background-color: $green;
}

.section-yellow {
  color: $font-color-default;
  background-color: $yellow;
}

.section-dark-gray{
  color: $font-color-inverse;
  background-color: lighten(#394046,25%);
}

.section-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-title {
  font-weight: bold;
}

.section-subtitle {
  line-height: 1.4;
}

.row-md {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-lg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.row-inline-center {
  margin-right: auto;
  margin-left: auto;
}

.row-inline {
  display: table;

  .row-inline-element {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }

  .list-inline {
    display: table;
    > li {
      vertical-align: middle;
    }
  }
}


