.section {
  width: 100%;
  background-color: transparent;
  padding: 50px 0;
}

.section-default {
  background-color: $light-gray;
}

.section-blue {
  color: $font-color-inverse;
  background-color: $light-blue-nrei;
}

.section-green {
  color: $font-color-inverse;
  background-color: $green;
}

.section-red {
  color: $font-color-inverse;
  background-color: $red;
  @include anchor-color-gen($font-color-inverse);
  a {
    text-decoration: underline;
  }
}

.section-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-title {
  font-weight: bold;
}

.section-subtitle {
  line-height: 1.4;
}

.section-hero {
  position: relative;
  padding: 0;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/bg/bg-cover.png");

  @include mq(mobile-only) {
    height: 400px;
  }

  .section-heading {
    color: $font-color-inverse;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8),0 -1px 1px rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 15%;
    right: 15%;
    top: 10%;
    margin: 0;
    text-align: center;
    @include mq(tablet) {
      top: 25%
    }
    @include mq(dtop) {
      top: 30%
    }
    @include mq(dtop-lg) {
      top: 35%
    }

    .section-title {
      font-size: 35px;
      @include mq(tablet) {
        font-size: 40px;
      }
      @include mq(dtop) {
        font-size: 50px;
      }
      @include mq(dtop-lg) {
        font-size: 60px;
      }
      margin-bottom: 40px;
      line-height: 1.25;
    }

    .section-subtitle {
      @include mq(mobile-only) {
        font-size: 25px;
      }
    }

  }

}

.row-md {
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-lg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.row-inline-center {
  margin-right: auto;
  margin-left: auto;
}

.row-inline {
  display: table;

  .row-inline-element {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }

  .list-inline {
    display: table;
    > li {
      vertical-align: middle;
    }
  }
}


