html, body {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-width: $doc-min-width;
}

.bodyWrapper {
  min-height: 100%;
  margin-bottom: -$footer-height - $footer-margin;
}

.bodyContainer {
  padding-bottom: $footer-height + $footer-margin;
  height: 100%;
  padding-top: $navbar-main-height
}

.container-fixed-sm {
  width: 600px;
  margin: 0 auto;
}