/* line 1, ../sass/partials/layout/_footer.scss */
footer {
  height: 49px;
  margin-top: 0;
  background-color: #e6e6e6;
  border-top: 1px solid #c8c8c8;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  vertical-align: middle;
  padding: 15px 0;
}
/* line 11, ../sass/partials/layout/_footer.scss */
footer .container {
  min-width: 320px;
}

/* line 1, ../sass/partials/layout/_structure.scss */
html, body {
  height: 100%;
}

/* line 5, ../sass/partials/layout/_structure.scss */
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-width: 320px;
}

/* line 12, ../sass/partials/layout/_structure.scss */
.bodyWrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

/* line 17, ../sass/partials/layout/_structure.scss */
.bodyContainer {
  padding-bottom: 50px;
  height: 100%;
  padding-top: 50px;
}

/* line 1, ../sass/partials/layout/_nav.scss */
.navbar-white {
  border: 1px solid #c8c8c8;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0.9)));
  background: -webkit-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9));
  background: -moz-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9));
  background: -o-linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9));
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0.9));
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.065);
}

/* line 17, ../sass/partials/layout/_nav.scss */
.logo img {
  margin-top: 10px;
}

/* line 22, ../sass/partials/layout/_nav.scss */
.navbar-collapse.in > .pull-right, .navbar-collapse.in .pull-left, .navbar-collapse.collapsing > .pull-right, .navbar-collapse.collapsing .pull-left {
  float: none !important;
}

/* line 27, ../sass/partials/layout/_nav.scss */
.navbar .container {
  min-width: 320px;
}

/* line 1, ../sass/partials/layout/_section.scss */
.section {
  width: 100%;
  background-color: transparent;
  padding: 50px 0;
}

/* line 7, ../sass/partials/layout/_section.scss */
.section-default {
  background-color: #e6e6e6;
}

/* line 11, ../sass/partials/layout/_section.scss */
.section-blue {
  color: white;
  background-color: #007db0;
}

/* line 16, ../sass/partials/layout/_section.scss */
.section-green {
  color: white;
  background-color: darkgreen;
}

/* line 21, ../sass/partials/layout/_section.scss */
.section-yellow {
  color: #333333;
  background-color: #f8e9c0;
}

/* line 26, ../sass/partials/layout/_section.scss */
.section-dark-gray {
  color: white;
  background-color: #72808c;
}

/* line 31, ../sass/partials/layout/_section.scss */
.section-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 36, ../sass/partials/layout/_section.scss */
.section-title {
  font-weight: bold;
}

/* line 40, ../sass/partials/layout/_section.scss */
.section-subtitle {
  line-height: 1.4;
}

/* line 44, ../sass/partials/layout/_section.scss */
.row-md {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 49, ../sass/partials/layout/_section.scss */
.row-lg {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 54, ../sass/partials/layout/_section.scss */
.row-inline-center {
  margin-right: auto;
  margin-left: auto;
}

/* line 59, ../sass/partials/layout/_section.scss */
.row-inline {
  display: table;
}
/* line 62, ../sass/partials/layout/_section.scss */
.row-inline .row-inline-element {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
/* line 68, ../sass/partials/layout/_section.scss */
.row-inline .list-inline {
  display: table;
}
/* line 70, ../sass/partials/layout/_section.scss */
.row-inline .list-inline > li {
  vertical-align: middle;
}

/* line 1, ../sass/partials/elements/_typography.scss */
a {
  cursor: pointer;
}
/* line 4, ../sass/partials/elements/_typography.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 10, ../sass/partials/elements/_typography.scss */
.link-underline:hover {
  text-decoration: underline;
}

/* line 14, ../sass/partials/elements/_typography.scss */
.super-header {
  font-size: 50px;
  line-height: 75px;
  font-weight: bolder;
}

/* line 20, ../sass/partials/elements/_typography.scss */
.para-lg {
  line-height: 1.4;
  font-size: 16.8px;
}

/* line 18, ../sass/modules/_mixins.scss */
.clear-pad {
  padding: 0 !important;
}

/* line 22, ../sass/modules/_mixins.scss */
.clear-mar {
  margin: 0 !important;
}

/* line 18, ../sass/modules/_mixins.scss */
.clear-pad-left {
  padding-left: 0 !important;
}

/* line 22, ../sass/modules/_mixins.scss */
.clear-mar-left {
  margin-left: 0 !important;
}

/* line 18, ../sass/modules/_mixins.scss */
.clear-pad-right {
  padding-right: 0 !important;
}

/* line 22, ../sass/modules/_mixins.scss */
.clear-mar-right {
  margin-right: 0 !important;
}

/* line 18, ../sass/modules/_mixins.scss */
.clear-pad-top {
  padding-top: 0 !important;
}

/* line 22, ../sass/modules/_mixins.scss */
.clear-mar-top {
  margin-top: 0 !important;
}

/* line 18, ../sass/modules/_mixins.scss */
.clear-pad-bottom {
  padding-bottom: 0 !important;
}

/* line 22, ../sass/modules/_mixins.scss */
.clear-mar-bottom {
  margin-bottom: 0 !important;
}

/* line 8, ../sass/partials/elements/_utilities.scss */
.hover-mask:hover {
  opacity: .95;
}

/* line 13, ../sass/partials/elements/_utilities.scss */
.hover-mask-group:hover .hover-mask-element {
  opacity: .95;
}

/* line 19, ../sass/partials/elements/_utilities.scss */
.hover-appear-block {
  display: none;
}

/* line 24, ../sass/partials/elements/_utilities.scss */
.hover-appear-group:hover .hover-appear-block {
  display: block;
}

/* line 29, ../sass/partials/elements/_utilities.scss */
.div-center {
  margin: 0 auto;
  float: none !important;
}

/* line 1, ../sass/partials/elements/_feature.scss */
.feature {
  font-size: 30px;
  text-align: center;
}
@media (min-width: 1420px) {
  /* line 1, ../sass/partials/elements/_feature.scss */
  .feature {
    font-size: 35px;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/partials/elements/_feature.scss */
  .feature {
    margin-bottom: 20px;
  }
}

/* line 10, ../sass/partials/elements/_feature.scss */
.features-list {
  font-size: 19.6px;
}
/* line 13, ../sass/partials/elements/_feature.scss */
.features-list > li {
  margin-bottom: 10px;
}

/* line 1, ../sass/partials/elements/_video.scss */
.embed-box {
  position: relative;
  padding-bottom: 62.25%;
  /* ratio for youtube embed */
  padding-top: 30px;
  height: auto;
  overflow: hidden;
}

/* line 11, ../sass/partials/elements/_video.scss */
.embed-box iframe,
.embed-box object,
.embed-box embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/partials/elements/_hero.scss */
.section-hero {
  position: relative;
  padding: 0;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 480px) {
  /* line 1, ../sass/partials/elements/_hero.scss */
  .section-hero {
    height: 400px;
  }
}
/* line 13, ../sass/partials/elements/_hero.scss */
.section-hero .section-heading {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 -1px 1px rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 15%;
  right: 15%;
  top: 10%;
  margin: 0;
  text-align: center;
}
@media (min-width: 480px) {
  /* line 13, ../sass/partials/elements/_hero.scss */
  .section-hero .section-heading {
    top: 25%;
  }
}
@media (min-width: 800px) {
  /* line 13, ../sass/partials/elements/_hero.scss */
  .section-hero .section-heading {
    top: 30%;
  }
}
@media (min-width: 1420px) {
  /* line 13, ../sass/partials/elements/_hero.scss */
  .section-hero .section-heading {
    top: 35%;
  }
}
/* line 32, ../sass/partials/elements/_hero.scss */
.section-hero .section-heading .section-title {
  font-size: 35px;
  margin-bottom: 40px;
  line-height: 1.25;
}
@media (min-width: 480px) {
  /* line 32, ../sass/partials/elements/_hero.scss */
  .section-hero .section-heading .section-title {
    font-size: 40px;
  }
}
@media (min-width: 800px) {
  /* line 32, ../sass/partials/elements/_hero.scss */
  .section-hero .section-heading .section-title {
    font-size: 50px;
  }
}
@media (min-width: 1420px) {
  /* line 32, ../sass/partials/elements/_hero.scss */
  .section-hero .section-heading .section-title {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  /* line 47, ../sass/partials/elements/_hero.scss */
  .section-hero .section-heading .section-subtitle {
    font-size: 25px;
  }
}

/* line 57, ../sass/partials/elements/_hero.scss */
.hero-index {
  background-image: url("/images/bg/bg-cover.png");
}

/* line 61, ../sass/partials/elements/_hero.scss */
.hero-bs-info {
  background-image: url("/images/bg/bg-cover-info.png");
}

/* line 65, ../sass/partials/elements/_hero.scss */
.hero-research {
  background-image: url("/images/bg/bg-cover-research.png");
}

/* line 69, ../sass/partials/elements/_hero.scss */
.hero-invest {
  background-image: url("/images/bg/bg-cover-invest.png");
}

/* line 73, ../sass/partials/elements/_hero.scss */
.btn-hero {
  margin-left: 20px;
  margin-right: 20px;
  text-shadow: none;
}

/* line 1, ../sass/partials/elements/_panel.scss */
.panel-title {
  font-weight: bold;
}

/* line 5, ../sass/partials/elements/_panel.scss */
.panel-subtitle {
  margin: 10px 0 0 0;
  font-size: 14px;
}

/* line 1, ../sass/partials/elements/_misc.scss */
.form-control {
  margin-bottom: 10px;
}
